.possession-box
  - if possession.image_url.present?
    .possession-box__image
      = image_tag possession.image_url
  - else
    .possession-box__image.possession-box__image--no-image
      %p No Image
  .possession-box__content
    .possession-box__content__title= possession.name

    .possession-box__content__details
      .possession-box__content__details__text
        .possession-box__content__details__text__description
          = possession.description
          - if current_user
            = link_to '(Edit)', edit_possession_path(possession), class: 'possession-box__edit'
        - if possession.amazon_link?
          = link_to 'Buy on Amazon', possession.amazon_link, target: '_blank', class: 'possession-box__amazon_link'

      .possession-box__content__details__date
        .possession-box__content__details__date__month= possession.month_purchased_shown
        .possession-box__content__details__date__year= possession.year_purchased_shown

