<%= form_for(@possession) do |f| %>
  <% if @possession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@possession.errors.count, "error") %> prohibited this possession from being saved:</h2>

      <ul>
      <% @possession.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>


  <div class="field">
    <%= f.label :month_purchased %><br>
    <%= f.text_field :month_purchased %>
  </div>

  <div class="field">
    <%= f.label :year_purchased %><br>
    <%= f.text_field :year_purchased %>
  </div>

  <div class="field">
    <%= f.label :amazon_link %><br>
    <%= f.text_field :amazon_link %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select(:category_id, current_user.categories.map {|category| [category.name, category.id]}, include_blank: true) %>
  </div>

  <div class="actions">
    <%= f.submit 'Update', class: :button %>
  </div>
<% end %>
