= link_to '< Back', possessions_path
%h1 Editing Possession

= render 'form'

%button.got-rid I got rid of this.
= link_to 'I never had this.', @possession, method: :delete, data: { confirm: 'Are you sure?' }

.modal.modal--got-rid
  %p Did you really get rid of it?
  = form_for(@possession) do |f|
    = f.text_area :got_rid_of_reason, placeholder: 'If so, why? (optional)'
    = f.submit 'Yes, really.'
    .modal__close-modal Nope.
    
