.possessions-total
  Total:
  %span= Possession.count

.content-wrapper
  - @categories.each do |category|
    .possession-column
      .possession-column__title= category.name + " (#{category.possessions.count})"
      - category.possessions.each do |possession|
        = render 'components/possession_box', possession: possession

  .possession-column
    .possession-column__title Others
    - @uncategorized_possessions.each do |possession|
      = render 'components/possession_box', possession: possession
