%h1
  Possessions
  (
  = @possessions.count
  )

- @possessions.each do |possession|
  .possession-box
    .possession-box__name= possession.name
    .possession-box__description= possession.description
    = image_tag possession.image_url, class: 'possession-box__image'
    .possession-box__edit= link_to 'Edit', edit_possession_path(possession)

