<h1>Possessions (<%= @possessions.count %>)</h1>

<table>
  <tbody>
    <% @possessions.each do |possession| %>
      <div>
        <%= link_to possession.name, possession %>
        <p><%= possession.description %></p>
        <%= image_tag possession.image_url %>
        <p><%= possession.user.email %></p>
        <%= link_to 'Edit', edit_possession_path(possession) %>
        <%= link_to 'I never had this.', possession, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Possession', new_possession_path %>

