.possessions-title
  %p Possessions

.possessions-total
  Total:
  %span= @possessions.count

- @possessions.each do |possession|
  .possession-box
    - if possession.image_url.present?
      = image_tag possession.image_url, class: 'possession-box__image'
    - else
      .possession-box__image.possession-box__image--no-image
        %p No Image
    .possession-box__content
      .possession-box__content__name= possession.name
      - if possession.description.present?
        .possession-box__content__description
          = possession.description
          - if current_user
            = link_to '(Edit)', edit_possession_path(possession), class: 'possession-box__edit'
