<p id="notice"><%= notice %></p>

<p>
  <%= @possession.name %>
</p>

<p>
  <%= @possession.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @possession.image_url %>
</p>

<%= link_to 'Edit', edit_possession_path(@possession) %> |
<%= link_to 'Back', possessions_path %>
