<p id="notice"><%= notice %></p>

<p>
  <%= @possession.name %>
</p>

<p>
  <%= @possession.description %>
</p>

<%= image_tag @possession.image_url %>

<%= link_to 'Edit', edit_possession_path(@possession) %> |
<%= link_to 'Back', possessions_path %>
