%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Order:
  = @category.order
%p
  %b User:
  = @category.user_id

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
